{% load crispy_forms_tags %}
<section id="contact">
    <h3 class="text-center">GET IN TOUCH</h3>
    <div class="d-flex justify-content-between">
        <div class="container d-flex justify-content-center  flex-column">
            {% for detail in contact_section_details %}
            <div class="container d-flex align-items-baseline">
                <i class="{{detail.info_icon}}" style="color: rgb(184, 141, 48);"></i>
                <p class="m-2">{{detail.description}}</p>
            </div>
            {% endfor %}
        </div>
        <div class="container">
            <div class="container bg-light shadow-medium p-3 form-layout">
                <form action="" method="POST" autocomplete="off">
                    {% csrf_token %}
                    {{contact_form|crispy}}
                    <button type="submit" class="btn btn-primary w-100 btn-block">
                        Submit
                    </button>
                </form>
            </div>
        </div>
    </div>
</section>