@media(max-width:1168px) {
    .contact-section {
        max-width: 80%
    }
}

@media(max-width:904px) {
    #services {
        height: auto
    }

    .flip-card {
        height: 250px;
        width: 250px;
        margin: 15px
    }

    .flip-container {
        flex-wrap: wrap;
        justify-content: space-evenly
    }

    .slide img {
        height: 200px;
        width: 225px
    }

    .slider {
        height: 100%;
        margin: auto;
        overflow: hidden;
        position: relative;
        width: 100%
    }

    .right-contact {
        margin-left: 5%
    }

    .right-contact textarea {
        height: 140px;
        width: 100%
    }

    .contact-section {
        max-width: 90%
    }

    .info p {
        margin-left: 5px;
        font-size: 15px
    }
}

@media(max-width:720px) {
    .slide img {
        height: 180px;
        width: 200px
    }

    .contact-section {
        height: auto;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center
    }

    .left-contact {
        display: flex;
        margin-top: 50px
    }

    .info {
        margin: auto;
        display: flex;
        flex-direction: column
    }

    .info span {
        height: 25px;
        width: 25px
    }

    .info p {
        margin: auto;
        text-align: center;
        font-size: 10px;
        padding: 13px
    }
}

@media(max-width:756px) {

    .hero-content h1,
    .typed {
        font-size: 55px
    }
}

@media(max-width:565px) {
    .img-responsive {
        height: 300px;
        width: 250px
    }

    .social-and-btn {
        align-items: center;
        margin-top: 120px;
        display: flex;
        flex-direction: column;
        justify-content: center
    }

    #hero .hero-content {
        padding-top: 30%
    }

    .hero-content h1,
    .typed {
        font-size: 50px
    }

    .hero-content p {
        font-size: 14px;
        letter-spacing: 3px;
        margin-top: 0;
        color: #fff;
        font-weight: 500
    }

    #skills {
        padding: 10px;
        height: 50vh
    }

    .slide img {
        height: 145px;
        width: 140px
    }

    .slide-track {
        width: auto
    }

    .slider .slide {
        height: 100px;
        width: 150px
    }

    .contact-section {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse
    }

    .info {
        display: flex;
        align-items: center
    }

    .info p {
        font-size: 14px
    }

    .left-contact {
        flex-direction: column
    }

    .msg-btn {
        width: 50%
    }
}

@media(max-width:1200px) {
    .flip-card {
        height: 240px;
        width: 240px
    }

    .flip-container {
        max-width: 100%
    }
}

@media(max-width:1070px) {
    .flip-card {
        height: 220px;
        width: 220px
    }

    #hire-btn {
        margin-left: 0;
        width: 30%
    }
}

@media(max-width:1000px) {
    .flip-card {
        height: 200px;
        width: 200px
    }
}

@media(max-width:992px) {
    #about .div-img-bg {
        height: 410px;
        margin: auto;
        padding-bottom: 30px;
        border: 20px solid #b8a07e;
        width: 306px
    }

    #about .about-descr .p-heading {
        text-align: center;
        font-size: 26px
    }

    #about .about-descr .separator {
        text-align: center
    }
}

@media(max-width:803px) {
    .card {
        border-radius: 5px;
        height: 8rem;
        width: 16rem;
        margin: 25px;
        background: 0 0
    }
}

@media(max-width:450px) {
    .hero-content p {
        align-self: center;
        margin-top: 20%;
        font-size: 14px;
        letter-spacing: 3px;
        color: #fff;
        font-weight: 500
    }

    .social-and-btn {
        margin-top: 35px
    }
}

@media(max-width:360px) {
    #hire-btn {
        width: 40%
    }

    .hero-content p {
        font-size: 12px
    }

    .iconify {
        height: 40px;
        width: 40px
    }

    .slide img {
        height: 125px;
        width: 131px
    }

    .slider::after {
        right: -70px
    }

    .slider::before {
        left: -70px
    }
}

@media(max-width:400px) {
    #about .div-img-bg .about-img img {
        width: 100%;
        height: 350px;
        margin-left: 25px
    }

    #about .div-img-bg {
        height: 355px;
        width: 265px
    }

    .flip-card {
        height: 120px;
        width: 115px
    }

    .service-tag {
        font: size 12px;
        margin-top: 0
    }
}

@media(max-width:532px) {
    .flip-card {
        height: 130px;
        width: 130px
    }

    .service-tag {
        font-size: 14px
    }

    .flip-card-back p {
        font-size: 10px
    }

    .flip-card-back {
        padding: 0
    }
}

@media(max-width:373px) {
    .flip-card {
        height: 105px;
        width: 98px
    }

    .flip-card-back p {
        font-size: 10px;
        line-height: normal
    }

    .service-tag {
        font-size: 13px
    }
}

@media (min-width:768px) and (max-width:991px) {
    nav {
        padding: 10px 15px
    }

    .responsive {
        float: right;
        padding-top: 15px;
        display: block
    }

    .head-info .header-content .cmaster h1 {
        font-size: 32px
    }

    #portfolio .portfolio-list .nav li {
        float: none;
        margin: 20px;
        display: inline-block
    }
}

@media (max-width:767px) {
    nav {
        padding: 20px 15px
    }

    .responsive {
        float: right;
        padding-top: 15px;
        display: block
    }

    .head-info .header-content h1 {
        font-size: 32px
    }

    #about .div-img-bg {
        padding: 0
    }

    #about .about-descr .p-heading {
        font-size: 20px
    }

    #about .about-descr .separator {
        max-width: 100%;
        margin-bottom: 0
    }

    #portfolio .portfolio-list .nav li {
        float: none;
        margin: 20px;
        display: inline-block
    }
}

@media (max-width:600px) {
    nav {
        padding: 20px 15px
    }

    .responsive {
        float: right;
        padding-top: 15px;
        display: block
    }

    .head-info .header-content h1 {
        font-size: 32px
    }

    #about .div-img-bg {
        padding: 0
    }

    #about .about-descr .p-heading {
        font-size: 20px
    }

    #about .about-descr .separator {
        max-width: 100%;
        margin-bottom: 0
    }

    #portfolio .portfolio-list .nav li {
        float: none;
        margin: 10px;
        display: inline-block
    }
}

@media (max-width:480px) {
    nav {
        padding: 20px 15px
    }

    .responsive {
        float: right;
        padding-top: 15px;
        display: block
    }

    .head-info .header-content h1 {
        font-size: 32px
    }

    #about .div-img-bg {
        padding: 0
    }

    #about .about-descr .p-heading {
        font-size: 20px
    }

    #about .about-descr .separator {
        max-width: 100%;
        margin-bottom: 0
    }

    #portfolio .portfolio-list .nav li {
        float: none;
        margin: 20px
    }
}

@media (max-width:320px) {
    nav {
        padding: 20px 15px
    }

    .responsive {
        float: right;
        padding-top: 15px;
        display: block
    }

    .head-info .header-content h1 {
        font-size: 32px
    }

    #about .div-img-bg {
        padding: 0
    }

    #about .about-descr .p-heading {
        font-size: 20px
    }

    #about .about-descr .separator {
        max-width: 100%;
        margin-bottom: 0
    }

    #portfolio .portfolio-list .nav li {
        float: none;
        margin: 20px
    }
}

@media (max-width:1068px) {
    .navbar {
        padding: 0;
        height: 15%;
        display: grid;
        justify-content: center;
        align-items: center;
        align-content: center
    }

    .logo {
        margin: auto;
        width: 50%;
        height: auto
    }

    .nav-list {
        padding: 0
    }
}

@media (max-width:440px) {
    span {
        font-size: 1.4rem
    }

    .span-project {
        font-size: .6rem
    }
}

@media (max-width:768px) {
    .services-block {
        width: 15%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center
    }
}

.burger {
    display: none;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 15px
}

.line {
    width: 33px;
    background-color: #000;
    height: 4px;
    margin: 5px 5px
}

@media(max-width:700px) {
    .nav-list {
        display: flex;
        align-items: center;
        flex-direction: column
    }

    .logo {
        left: 5px;
        position: absolute;
        top: 18px;
        height: auto;
        width: 240px
    }

    .navbar {
        display: flex;
        height: 100vh;
        transition: all .3s ease-out
    }

    .navbar li {
        margin: auto
    }

    .navbar li a {
        font-size: 25px;
        margin: 25px
    }

    .burger {
        display: block
    }

    .h-nav-resp {
        height: 65px
    }

    .v-class-resp {
        opacity: 0;
        display: none
    }
}

@media (max-width:540px) {
    .wblogo {
        align-self: center
    }

    .hero-content h1,
    .typed {
        font-size: 40px
    }
}